* { /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenitore {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
}

.intestazione {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: white;
    padding: 60px 40px;
    text-align: left;
}

.nome-utente {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #ffffff;
}

.credito,
.euro_simbolo{
    font-size: 60px;
    font-weight: 600;
    color: #f4f2ed;
}

.etichetta-credito {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 10px;
    font-weight: 400;
}

.contenuto {
    padding: 40px;
    background-color: #ffffff;
}

.sezione {
    margin-bottom: 35px;
}

.titolo-sezione {
    font-size: 24px;
    font-weight: 600;
    color: #2d2d2d;
    margin-bottom: 20px;
}

.gruppo-form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #2d2d2d;
    margin-bottom: 10px;
    font-weight: 500;
}

input[type="text"],
input[type="number"] {
    font-size: 20px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #2d2d2d;
    margin-bottom: 20px;
}


button {
    font-size: 20px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #f4f2ed;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #dcd9d4;
}

.btn-pericolo {
    background-color: #2d2d2d;
    color: #ffffff;
}

.btn-pericolo:hover {
    background-color: darkred;
}

.btn-successo {
    background-color: #2d2d2d;
    color: #ffffff;
}

.btn-successo:hover {
    background-color: green;
}

.btn-primario {
    background-color: #FFB63D;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primario:hover {
    background-color: #dcd9d4;
}

.divisore {
    height: 1px;
    background-color: #e0e0e0;
    margin: 35px 0;
}
